USE [4ISIP_ZIBOROVA_DEMO]
GO
/****** Object:  Table [dbo].[activ]    Script Date: 28.11.2023 16:39:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activ](
	[ID_activ] [int] IDENTITY(1,1) NOT NULL,
	[№] [float] NULL,
	[Наименование мероприятия] [nvarchar](255) NULL,
	[Дата начала] [datetime] NULL,
	[Дни] [float] NULL,
	[Активность] [nvarchar](255) NULL,
	[День] [float] NULL,
	[Время начала] [datetime] NULL,
	[Модератор] [nvarchar](255) NULL,
	[Жюри 1] [nvarchar](255) NULL,
	[Победитель] [nvarchar](255) NULL,
	[Жюри_ID] [int] NULL,
 CONSTRAINT [PK_activ] PRIMARY KEY CLUSTERED 
(
	[ID_activ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[city]    Script Date: 28.11.2023 16:39:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city](
	[ID_city] [int] IDENTITY(1,1) NOT NULL,
	[F1] [float] NULL,
	[F2] [nvarchar](255) NULL,
	[ID_stran] [int] NULL,
 CONSTRAINT [PK_Лист1$] PRIMARY KEY CLUSTERED 
(
	[ID_city] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[juri]    Script Date: 28.11.2023 16:39:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[juri](
	[ID_juri] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [nvarchar](255) NULL,
	[пол] [nvarchar](255) NULL,
	[почта] [nvarchar](255) NULL,
	[дата рождения] [datetime] NULL,
	[страна] [int] NULL,
	[телефон] [nvarchar](255) NULL,
	[направление] [nvarchar](255) NULL,
	[пароль] [nvarchar](255) NULL,
	[фото] [nvarchar](255) NULL,
 CONSTRAINT [PK_juri] PRIMARY KEY CLUSTERED 
(
	[ID_juri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[meropri]    Script Date: 28.11.2023 16:39:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[meropri](
	[ID_meropri] [int] IDENTITY(1,1) NOT NULL,
	[№] [float] NULL,
	[Событие] [nvarchar](255) NULL,
	[DATE] [datetime] NULL,
	[DAYS] [nvarchar](max) NULL,
	[Город] [int] NULL,
 CONSTRAINT [PK_meropri] PRIMARY KEY CLUSTERED 
(
	[ID_meropri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[moderator]    Script Date: 28.11.2023 16:39:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[moderator](
	[ID_moderator] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [nvarchar](255) NULL,
	[пол] [nvarchar](255) NULL,
	[почта] [nvarchar](255) NULL,
	[дата рождения] [datetime] NULL,
	[страна] [int] NULL,
	[телефон] [nvarchar](255) NULL,
	[направление] [nvarchar](255) NULL,
	[мероприятие] [nvarchar](max) NULL,
	[пароль] [nvarchar](255) NULL,
	[фото] [nvarchar](255) NULL,
 CONSTRAINT [PK_moderator] PRIMARY KEY CLUSTERED 
(
	[ID_moderator] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[organizator]    Script Date: 28.11.2023 16:39:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[organizator](
	[ID_organizator] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [nvarchar](255) NULL,
	[Почта] [nvarchar](255) NULL,
	[Дата рождения] [datetime] NULL,
	[страна] [int] NULL,
	[телефон] [nvarchar](255) NULL,
	[пароль] [nvarchar](255) NULL,
	[фото] [nvarchar](255) NULL,
	[пол] [nvarchar](255) NULL,
 CONSTRAINT [PK_organizator] PRIMARY KEY CLUSTERED 
(
	[ID_organizator] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stran]    Script Date: 28.11.2023 16:39:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stran](
	[ID_stran] [int] IDENTITY(1,1) NOT NULL,
	[Название страны] [nvarchar](255) NULL,
	[Английское название] [nvarchar](255) NULL,
	[Код] [nvarchar](255) NULL,
	[Код2] [float] NULL,
 CONSTRAINT [PK_Лист1$_1] PRIMARY KEY CLUSTERED 
(
	[ID_stran] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[uchastniki]    Script Date: 28.11.2023 16:39:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[uchastniki](
	[ID_uchastniki] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [nvarchar](255) NULL,
	[Почта] [nvarchar](255) NULL,
	[дата рождения] [datetime] NULL,
	[страна] [int] NULL,
	[телефон] [nvarchar](max) NULL,
	[пароль] [nvarchar](255) NULL,
	[фото] [nvarchar](255) NULL,
	[пол] [nvarchar](255) NULL,
 CONSTRAINT [PK_uchastniki] PRIMARY KEY CLUSTERED 
(
	[ID_uchastniki] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[activ] ON 

INSERT [dbo].[activ] ([ID_activ], [№], [Наименование мероприятия], [Дата начала], [Дни], [Активность], [День], [Время начала], [Модератор], [Жюри 1], [Победитель], [Жюри_ID]) VALUES (1, 1, N'Встреча клуба «Leader stories»: Мотивирующее руководство ', CAST(N'2023-11-09T00:00:00.000' AS DateTime), 2, NULL, NULL, NULL, NULL, NULL, N'Ершова Нора Федотовна', NULL)
INSERT [dbo].[activ] ([ID_activ], [№], [Наименование мероприятия], [Дата начала], [Дни], [Активность], [День], [Время начала], [Модератор], [Жюри 1], [Победитель], [Жюри_ID]) VALUES (2, NULL, NULL, NULL, NULL, N'Лидерство в бизнесе', 1, CAST(N'1899-12-30T09:00:00.000' AS DateTime), N'Царева Виктория Давидовна', N'Галкина Верона Васильевна', NULL, NULL)
INSERT [dbo].[activ] ([ID_activ], [№], [Наименование мероприятия], [Дата начала], [Дни], [Активность], [День], [Время начала], [Модератор], [Жюри 1], [Победитель], [Жюри_ID]) VALUES (3, NULL, NULL, NULL, NULL, N'Технология принятия решений', 2, CAST(N'1899-12-30T10:45:00.000' AS DateTime), N'2', N'Герасимова Айлин Ефимовна', NULL, NULL)
SET IDENTITY_INSERT [dbo].[activ] OFF
GO
SET IDENTITY_INSERT [dbo].[city] ON 

INSERT [dbo].[city] ([ID_city], [F1], [F2], [ID_stran]) VALUES (1, 2, NULL, NULL)
INSERT [dbo].[city] ([ID_city], [F1], [F2], [ID_stran]) VALUES (2, 3, NULL, NULL)
INSERT [dbo].[city] ([ID_city], [F1], [F2], [ID_stran]) VALUES (3, 4, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[city] OFF
GO
SET IDENTITY_INSERT [dbo].[juri] ON 

INSERT [dbo].[juri] ([ID_juri], [ФИО], [пол], [почта], [дата рождения], [страна], [телефон], [направление], [пароль], [фото]) VALUES (1, N'Галкина Верона Васильевна', N'женский', N'obuckridge@sipes.com', NULL, 35, N'7(880)544-61-83', N'Дизайн', N'HHikbP', N'foto21.jpg')
INSERT [dbo].[juri] ([ID_juri], [ФИО], [пол], [почта], [дата рождения], [страна], [телефон], [направление], [пароль], [фото]) VALUES (2, N'Герасимова Айлин Ефимовна', N'женский', N'loraine.aufderhar@johnston.info', CAST(N'1966-06-09T00:00:00.000' AS DateTime), 53, N'7(835)478-61-60', N'Дизайн', N'TuhRzy', N'foto22.jpg')
INSERT [dbo].[juri] ([ID_juri], [ФИО], [пол], [почта], [дата рождения], [страна], [телефон], [направление], [пароль], [фото]) VALUES (3, N'Большаков Августин Алексеевич', N'мужской', N'juanita.kuvalis@yahoo.com', CAST(N'1978-07-12T00:00:00.000' AS DateTime), 52, N'7(173)770-55-13', N'ИТ', N'4Y83lz', N'foto23.jpg')
SET IDENTITY_INSERT [dbo].[juri] OFF
GO
SET IDENTITY_INSERT [dbo].[meropri] ON 

INSERT [dbo].[meropri] ([ID_meropri], [№], [Событие], [DATE], [DAYS], [Город]) VALUES (1, 1, N'Всероссийский хакатон neuromedia 2017 по разработке продуктов на стыке информационных технологий, медиа и нейронных сетей ', CAST(N'2022-10-26T00:00:00.000' AS DateTime), N'1', 34)
INSERT [dbo].[meropri] ([ID_meropri], [№], [Событие], [DATE], [DAYS], [Город]) VALUES (2, 2, N'Встреча #3 клуба ITBizRadio на тему:  «уборка» — выкидываем ненужные навыки, инструменты и ограничения» ', CAST(N'2022-07-14T00:00:00.000' AS DateTime), N'3', 34)
INSERT [dbo].[meropri] ([ID_meropri], [№], [Событие], [DATE], [DAYS], [Город]) VALUES (3, 3, N'Встреча клуба «Leader stories»: Мотивирующее руководство ', CAST(N'2023-11-09T00:00:00.000' AS DateTime), N'2', 2)
SET IDENTITY_INSERT [dbo].[meropri] OFF
GO
SET IDENTITY_INSERT [dbo].[moderator] ON 

INSERT [dbo].[moderator] ([ID_moderator], [ФИО], [пол], [почта], [дата рождения], [страна], [телефон], [направление], [мероприятие], [пароль], [фото]) VALUES (1, N'Царева Виктория Давидовна', N'женский', N'iunhxq41tgr5@tutanota.com', CAST(N'1988-07-03T00:00:00.000' AS DateTime), 33, N'7(567)103-73-32', N'ИТ', N'IT в бизнесе', N'FYi396Dd5u', N'foto9.jpg')
INSERT [dbo].[moderator] ([ID_moderator], [ФИО], [пол], [почта], [дата рождения], [страна], [телефон], [направление], [мероприятие], [пароль], [фото]) VALUES (2, N'Зорин Дмитрий Маркович', N'мужской', N'ofdt4z1bijq0@tutanota.com', CAST(N'1993-09-07T00:00:00.000' AS DateTime), 57, N'7(79)644-01-06', N'ИТ', N'IT в бизнесе', N'7gi7E8K4Ng', N'foto10.jpg')
INSERT [dbo].[moderator] ([ID_moderator], [ФИО], [пол], [почта], [дата рождения], [страна], [телефон], [направление], [мероприятие], [пароль], [фото]) VALUES (3, N'Зотова Анна Тимуровна', N'женский', N'ac6yxzg7rl5k@mail.com', CAST(N'1990-09-21T00:00:00.000' AS DateTime), 11, N'7(488)643-19-98', N'Биг Дата', N'Разработка приложений', N'3L3eA5eEg3', N'foto8.jpg')
SET IDENTITY_INSERT [dbo].[moderator] OFF
GO
SET IDENTITY_INSERT [dbo].[organizator] ON 

INSERT [dbo].[organizator] ([ID_organizator], [ФИО], [Почта], [Дата рождения], [страна], [телефон], [пароль], [фото], [пол]) VALUES (1, N'Васильев Всеволод Давидович', N'6z92wongmash@tutanota.com', CAST(N'1988-10-16T00:00:00.000' AS DateTime), 51, N'7(354)903-53-67', N'Ke22Yh8Pp7', N'foto1.jpg', N'мужской')
INSERT [dbo].[organizator] ([ID_organizator], [ФИО], [Почта], [Дата рождения], [страна], [телефон], [пароль], [фото], [пол]) VALUES (2, N'Новиков Фёдор Макарович', N'jkp23vlzsqei@gmail.com', CAST(N'1980-08-03T00:00:00.000' AS DateTime), 33, N'7(6562)925-01-77', N'Tj78jXeH68', N'foto2.jpg', N'мужской')
INSERT [dbo].[organizator] ([ID_organizator], [ФИО], [Почта], [Дата рождения], [страна], [телефон], [пароль], [фото], [пол]) VALUES (3, N'Фролова Владислава Савельевна', N'dncmxp1vqr4t@tutanota.com', CAST(N'1999-07-13T00:00:00.000' AS DateTime), 43, N'7(12)981-33-56', N'DF9a8cJf82', N'foto3.jpg', N'женский')
SET IDENTITY_INSERT [dbo].[organizator] OFF
GO
SET IDENTITY_INSERT [dbo].[stran] ON 

INSERT [dbo].[stran] ([ID_stran], [Название страны], [Английское название], [Код], [Код2]) VALUES (1, N'Абхазия', N'Abkhazia', N'AB', 895)
INSERT [dbo].[stran] ([ID_stran], [Название страны], [Английское название], [Код], [Код2]) VALUES (2, N'Австралия', N'Australia', N'AU', 36)
INSERT [dbo].[stran] ([ID_stran], [Название страны], [Английское название], [Код], [Код2]) VALUES (3, N'Австрия', N'Austria', N'AT', 40)
GO
SET IDENTITY_INSERT [dbo].[stran] OFF
GO
SET IDENTITY_INSERT [dbo].[uchastniki] ON 

INSERT [dbo].[uchastniki] ([ID_uchastniki], [ФИО], [Почта], [дата рождения], [страна], [телефон], [пароль], [фото], [пол]) VALUES (1, N'Ершова Нора Федотовна', N'techie@outlook.com', CAST(N'1987-03-26T00:00:00.000' AS DateTime), 71, N'9.60424e+009', N'tKKevv8%', N'foto60.jpg', N'ж')
INSERT [dbo].[uchastniki] ([ID_uchastniki], [ФИО], [Почта], [дата рождения], [страна], [телефон], [пароль], [фото], [пол]) VALUES (2, N'Афанасьева Жанна Валентиновна', N'agapow@yahoo.com', CAST(N'1988-01-04T00:00:00.000' AS DateTime), 34, N'9.30662e+009', N'huSfHm4$', N'foto61.jpg', N'ж')
INSERT [dbo].[uchastniki] ([ID_uchastniki], [ФИО], [Почта], [дата рождения], [страна], [телефон], [пароль], [фото], [пол]) VALUES (3, N'Крылова Рая Всеволодовна', N'chaikin@yahoo.ca', CAST(N'1988-04-05T00:00:00.000' AS DateTime), 73, N'9.57266e+009', N'TlUwMw77%', N'foto62.jpg', N'ж')
SET IDENTITY_INSERT [dbo].[uchastniki] OFF
GO
ALTER TABLE [dbo].[activ]  WITH CHECK ADD  CONSTRAINT [FK_activ_juri] FOREIGN KEY([Жюри_ID])
REFERENCES [dbo].[juri] ([ID_juri])
GO
ALTER TABLE [dbo].[activ] CHECK CONSTRAINT [FK_activ_juri]
GO
ALTER TABLE [dbo].[city]  WITH NOCHECK ADD  CONSTRAINT [FK_city_stran] FOREIGN KEY([ID_stran])
REFERENCES [dbo].[stran] ([ID_stran])
GO
ALTER TABLE [dbo].[city] CHECK CONSTRAINT [FK_city_stran]
GO
ALTER TABLE [dbo].[juri]  WITH CHECK ADD  CONSTRAINT [FK_juri_stran] FOREIGN KEY([страна])
REFERENCES [dbo].[stran] ([ID_stran])
GO
ALTER TABLE [dbo].[juri] CHECK CONSTRAINT [FK_juri_stran]
GO
ALTER TABLE [dbo].[meropri]  WITH NOCHECK ADD  CONSTRAINT [FK_meropri_city] FOREIGN KEY([ID_meropri])
REFERENCES [dbo].[city] ([ID_city])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[meropri] CHECK CONSTRAINT [FK_meropri_city]
GO
ALTER TABLE [dbo].[moderator]  WITH CHECK ADD  CONSTRAINT [FK_moderator_stran] FOREIGN KEY([страна])
REFERENCES [dbo].[stran] ([ID_stran])
GO
ALTER TABLE [dbo].[moderator] CHECK CONSTRAINT [FK_moderator_stran]
GO
ALTER TABLE [dbo].[organizator]  WITH CHECK ADD  CONSTRAINT [FK_organizator_stran] FOREIGN KEY([страна])
REFERENCES [dbo].[stran] ([ID_stran])
GO
ALTER TABLE [dbo].[organizator] CHECK CONSTRAINT [FK_organizator_stran]
GO
ALTER TABLE [dbo].[uchastniki]  WITH CHECK ADD  CONSTRAINT [FK_uchastniki_stran1] FOREIGN KEY([страна])
REFERENCES [dbo].[stran] ([ID_stran])
GO
ALTER TABLE [dbo].[uchastniki] CHECK CONSTRAINT [FK_uchastniki_stran1]
GO
